@charset "utf-8";

/* Mixins
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

@mixin fontsize($size: 24) {
    font-size: $size + px;
    font-size: ($size / 10) * 1rem;
} //@mixin fontsize

/* Fonts
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

//フォントの定義
@font-face {
  font-family: 'Hannari';
	src: url('../fonts/Hannari.woff2') format('woff2'),
	url('../fonts/Hannari.woff') format('woff');
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-VariableFont_wght.woff2') format('woff2'),
  url('../fonts/Quicksand-VariableFont_wght.woff') format('woff');
}

//フォントの呼び出し
.quicksand {
  font-family: 'Quicksand';
}

.hannari {
  font-family: 'Hannari';
}

.meiryo {
  font-family: "Meiryo", "メイリオ";
}

.meiryo_ui {
  font-family: "Meiryo UI";
}

/* Varisbles
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

$ja_font : 'Quicksand', YuMincho, 'Yu Mincho', "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Meiryo", "メイリオ", Verdana, serif;
$ja_font_p : 'Times New Roman', YuMincho, 'Yu Mincho', "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Meiryo", "メイリオ", Verdana, serif;
$background : #fffff8;
$accent : #2e39a9;
$base : #fdd35c;
$bar : #fef856;

/* Base
	–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
    box-sizing: border-box;
}

html {
	max-width: 1440px;
	margin: auto;
    font-size: 62.5%;
}

body {
	font-family: $ja_font;
	margin: 0;
	background-color: $background;
}

#header, #main, #footer, img {
    width: 100%;
}


/* Body
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
	//画像の上にグラデーションのせる
	// background: linear-gradient(-45deg, rgba(254, 248, 86, .8), rgba(200, 92, 14, .8)), url(../images/mastard_1.jpg);
	// background-size: cover;
	//チェック
	// background-color: #F2E2A9;
	// background-image:
	//  radial-gradient(#f1acb5 1px, transparent 1px);
	// background-size: 20px 20px;

	header {
		.h_top {
			display: flex;
			justify-content: space-between;
			background-color: $base;
			height: 330px;
			margin-bottom: -240px;
			.title {
				h1 {
					@include fontsize(34);
					font-weight: 100;
					margin: 0.67em 1.5em;
					color: $accent;
				}
			}
			.lang {
				p {
					@include fontsize(16);
					margin-right: 2em;
					margin-top: 1.5em;
					font-family: $ja_font_p;
					a {
						color: $accent;
						text-decoration: none;
						position: relative;
						&:before {
							position: absolute;
							bottom: 0em;
							left: calc(50% - 25px);
							width: 50px;
							height: 1px;
							content: '';
							border-radius: 3px;
							background: $accent;
							transform: scaleX(0);
							transition: all .3s;
						}
						&:hover {
							&:before {
								transform: scaleX(1);
							}
						}
					}
				}
			}
		}//h_top
		.h_nav {
			.h_ul {
				display: flex;
				justify-content: space-between;
				margin: 1em 8em .5em 8em;
				padding-inline-start: 0px;
				height: 30px;
				li {
					@include fontsize(18);
					list-style: none;
					a {
						color: $accent;
						text-decoration: none;
						position: relative;
						&:before {
							position: absolute;
							top: -0.3em;
							left: calc(50% - 30px);
							width: 60px;
							height: 2px;
							content: '';
							border-radius: 3px;
							background: $accent;
							transition: all .3s;
						}
						&:hover {
							font-weight: 500;
							&:before {
								left: calc(50% - 40px);
								width: 80px;
							}
						}
					}
				}
			}
		}//h_nav
		.h_nav_sp {
			display: none;
		}//h_nav_sp
		.h_img {
			position: relative;
			width: 98%;
    	margin: 0 auto;
			.page_title {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
				margin: auto;
				h2 {
					color: white;
					font-weight: 100;
					@include fontsize(38);
					padding: .5rem;
					&:before {
						background-color: $bar;
					}
				}
			}
		}
		@media screen and (max-width: 767px) {
			.h_top {
				display: block;
				.title {
					margin: 0 auto;
					width: fit-content;
					padding-top: 10px;
					h1 {
						margin: 0;
					}
				}
				.lang {
					text-align: center;
					p {
						margin-top: .7rem;
						margin-right: 0;
					}
				}
			}//h_top
			.h_nav {
				display: none;
			}//h_nav
			.h_nav_sp {
				display: block;
				.hamburger {
					display : block;
					position: fixed;
					z-index : 3;
					right : 13px;
					top   : 12px;
					width : 42px;
					height: 42px;
					cursor: pointer;
					text-align: center;
					span {
						display : block;
						position: absolute;
						width   : 30px;
						height  : 2px ;
						left    : 6px;
						background : $accent;
						-webkit-transition: 0.3s ease-in-out;
						-moz-transition   : 0.3s ease-in-out;
						transition        : 0.3s ease-in-out;
						&:nth-child(1) {
							top: 10px;
						}
						&:nth-child(2) {
							top: 20px;
						}
						&:nth-child(3) {
							top: 30px;
						}
					}
				}//.hamburger
				.h_active {
					span {
						background : $bar;
						&:nth-child(1) {
							top : 16px;
							left: 6px;
							-webkit-transform: rotate(-45deg);
							-moz-transform   : rotate(-45deg);
							transform        : rotate(-45deg);
						}
						&:nth-child(2),&:nth-child(3) {
							top: 16px;
							-webkit-transform: rotate(45deg);
							-moz-transform   : rotate(45deg);
							transform        : rotate(45deg);
						}
					}
				}//.h_active
				.globalMenuSp {
					position: fixed;
					z-index : 2;
					top  : 0;
					left : 0;
					color: #000;
					background: transparent;
					text-align: center;
					transform: translateY(-100%);
					transition: all 0.6s;
					width: 100%;
					ul {
						background: rgba(46,57,169,.85);
						margin: 0 auto;
						padding: 0;
						width: 100%;
						height: 70vh;
						li {
							list-style-type: none;
							padding: 0;
							width: 100%;
							&:first-child {
								padding-top: 7vh;
							}
							&:last-child {
								padding-bottom: 0;
								border-bottom: none;
							}
							a {
								display: block;
								@include fontsize(18);
								color: $bar;
								padding: 1em 0;
								text-decoration :none;
							}
						}
					}
				}//globalMenuSpS
				.m_active {
					transform: translateY(0%);
				}
			}//h_nav_sp
			.h_img {
				height: 50vh;
				position: relative;
				overflow: hidden;
				width: 100%;
				img {
					width: auto;
					height: auto;
					min-width: inherit;
					min-height: 100%;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}

		@media screen and (max-width: 589px) {
			.h_top {
				margin-bottom: -200px;
				.title {
					padding-top: 60px;
					h1 {
						@include fontsize(24);
					}
				}
			}//h_top
			.h_img {
				.page_title {
					h2 {
						@include fontsize(24);
					}
				}
			}
		}
	}//header

	main {
		article {
			.message {
				h2 {
					padding: .5rem;
					margin-block-start: 2.2em;
					&::before {
						left: calc(50% - 60px);
						width: 120px;
					}
				}
				p {
					@include fontsize(16);
					text-align: center;
					line-height: 2.6em;
					margin: 2em 0;
					span {
						display: inline-block;
						@include fontsize(10);
						line-height: 2em;
					}
				}
				@media screen and (max-width: 589px) {
					.message {
						margin: 0 7px;
					}
				}//@media screen and (max-width: 589px)
			}//.message
			.home_news, .home_schedule {
				padding-top: 30px;
				padding-bottom: 100px;
				background-color: #ffffff;
				.h_n_area {
					margin: 0 auto;
    				width: fit-content;
					.h_n_ul {
						@include fontsize(16);
						text-align: left;
						margin: 2.6em 0;
						padding-inline-start: 0;
						li {
							list-style: none;
							span {
								font-family: $ja_font_p;
								margin-right: 20px;
								font-style: italic;
							}
							a {
								color: $accent;
								text-decoration: none;
								position: relative;
								&:before {
									position: absolute;
									bottom: 0em;
									left: 0;
									width: stretch;
									height: 1px;
									content: '';
									border-radius: 3px;
									background: $accent;
									transform: scaleX(0);
									transform-origin: left top;
									transition: all .5s;
								}
								&:hover {
									&:before {
										transform: scaleX(1);
									}
								}
							}
						}
					}
				}
				@media screen and (max-width: 589px) {
					.h_n_area {
						.h_n_ul {
							margin: 2.6em 7px;
							li {
								span {
									display: block;
								}
							}
						}
					}
				}//@media screen and (max-width: 589px)
			}//.home_news,.home_schedule
			.home_schedule {
				background-color: inherit;
				.wrapper {
					position: relative;
					.blur {
						background-color: white;
						backdrop-filter: blur(12px);
						opacity: .7;
						z-index: 1;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translateY(-50%) translateX(-50%);
						margin: auto;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
					.text {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translateY(-50%) translateX(-50%);
						margin: auto;
						z-index: 1;
						@include fontsize(18);
						text-shadow: 0 1px 1px #909090;
					}
				}
			}//.home_schedule
			.research_now, .research_arc, .publication, .profile {
				.top_t {
					margin-top: 56px;
				}
				.r_area, .p_area {
					margin: 0 auto;
					margin-bottom: 12rem;
    			width: 85%;
					.r_ul, .p_ul {
						padding-left: 0;
						li {
							list-style: none;
							.h3_title {
								display: flex;
								justify-content: space-between;
								h3 {
									@include fontsize(23);
									border-left: solid 10px #2e39a9;
									font-weight: bold;
									padding-left: 10px;
									padding-top: 11px;
									@media screen and (max-width: 767px) {
										padding-top: 5px;
									}
								}
								.modi_f_pu {
								padding-top: 7px;
    						padding-bottom: 4px;
								}
								.modi_f_pro {
									padding-top: 7px;
									padding-bottom: 4px;
									.modi_f_pro_p {
										@include fontsize(14);
										font-family: $ja_font_p;
										font-weight: 100;
										margin-left: 30px;
									}
								}
								.h3_top {
									margin-top:60px;
								}
								p {
									@include fontsize(22);
									font-family: $ja_font_p;
									color: #5f7c3c;
									margin: revert;
									span {
										margin-left: 35px;
									}
									@media screen and (max-width: 767px) {
										@include fontsize(18);
									}
								}
							}
							p {
								@include fontsize(16);
								text-align: left;
								margin: 0 4rem;
    						margin-bottom: 4rem;
							}
							.p_titles {
								h4 {
									font-family: $ja_font_p;
									@include fontsize(16);
									font-weight: bold;
								}
								.p_titles_ol {
									.p_titles_li {
										list-style-type: decimal;
										font-family: $ja_font_p;
										@include fontsize(16);
										padding-bottom: 1.2rem;
										span {
											font-weight: bold;
										}
									}
									.pro_titles_li {
										font-family: $ja_font_p;
										@include fontsize(16);
										padding-bottom: 1.2rem;
										span {
											font-weight: bold;
										}
									}
									.pro_name_li {
										@include fontsize(18);
									}
								}
							}
						}
						.pro_li {
							display: flex;
							justify-content: space-between;
							.pro_img {
								width: 40%;
								margin-top: 60px;
								margin-bottom: 50px;
								img {
									border: solid $accent 4px;
									box-shadow: 1px 1px 3px #707070;
									max-width: 450px;
								}
							}
							.pro_name {
								width: 50%;
							}
							@media screen and (max-width: 767px) {
								display: block;
								.pro_img {
									margin: 60px auto;
									width: 80%;
									max-width: 400px;
									margin-bottom: 0px;
									img {
										max-width: inherit;
									}
								}
								.pro_name {
									width: 100%;
								}
							}//@media screen and (max-width: 767px)
						}
					}
					@media screen and (max-width: 767px) {
						width: 95%;
					}
				}
			}//.research_now, .research_arc, .publication
			.p_g_f {
				margin-bottom: 150px;
				h2 {
					font-weight: 100;
    			padding-bottom: 10px;
				}
			}//.p_g_f
		}//article
	}//main

	footer {
		.f_wrapper {
			.links {
				display: flex;
				position: relative;
				border-top: solid 1px $base;
				border-bottom: solid 1px $base;
				.contacts {
					width: 35%;
					height: 150px;
					border-top: solid 1px $base;
					border-bottom: solid 1px $base;
					background-color: $background;
					margin: 4px 0;
					padding-top: 100px;
					padding-left: 20px;
					p {
						@include fontsize(16);
						padding-left: 10px;
						color: $accent;
						margin: .2em 0;
						i {
							padding-right: 5px;
						}
						&:first-child {
							padding-top: 10px;
						}
						&:last-child {
							padding-bottom: 10px;
						}
					}
					&:before {
						position: absolute;
						top: 0;
						left: 0;
						z-index: -1;
						content: '';
						background-color: $background;
						height: 100%;
						width: 100%;
					}
				}
				.sns {
					width: 65%;
					background-color: $base;
					border-top: solid 1px $accent;
					border-bottom: solid 1px $accent;
					margin: 4px 0;
					padding-right: 30px;
					text-align: right;
					a {
						@include fontsize(30);
						i {
							margin: 10px;
							color: $accent;
							transform-origin: left top;
							transition: all .5s;
							&:hover {
								color: $background;
								text-shadow: 0 1px 1px #909090;
							}
						}
					}
					&:before {
						position: absolute;
						top: 0;
						right: 0;
						z-index: -1;
						content: '';
						background-color: $base;
						height: 100%;
						width: 65%;
					}
					.contacts_sp {
						display: none;
					}
				}
			}
			.copy {
				p {
					@include fontsize(14);
					color: $accent;
					text-align: center;
					margin: 0;
				}
			}
		}//.f_wrapper

		@media screen and (max-width: 1023px) {
			.f_wrapper {
				.links {
					.contacts {
						p {
							@include fontsize(12);
						}
					}
					.sns {
						&:before {
							width: 100%;
						}
					}
				}
			}//.f_wrapper
		}//@media screen and (max-width: 1023px)

		@media screen and (max-width: 767px) {
			.f_wrapper {
				.links {
					display: block;
					.contacts {
						display: none;
					}
					.sns {
						width: 100%;
						height: 150px;
						text-align: center;
						padding-right: 0;
						.contacts_sp {
							display: block;
							margin: 60px 0;
							p {
								@include fontsize(16);
								padding-left: 10px;
								color: $accent;
								margin: .2em 0;
								i {
									padding-right: 5px;
								}
								&:first-child {
									padding-top: 10px;
								}
								&:last-child {
									padding-bottom: 10px;
								}
							}
						}
					}
				}
				.copy {
					p {
						@include fontsize(10);
					}
				}
			}//.f_wrapper
		}//@media screen and (max-width: 767px)
	}//footer

}

//大見出し
.section_t {
	h2 {
		@include fontsize(30);
		font-family: $ja_font;
		position: relative;
		padding: 1.5rem;
		text-align: center;
		color: $accent;
		text-align: center;
		vertical-align: middle;
		@media screen and (max-width: 589px) {
				@include fontsize(24);
		}//@media screen and (max-width: 589px)
	}

	h2 span {
		@include fontsize(12);
		font-weight: 100;
		display: block;
		color: black;
	}

	h2:before {
		position: absolute;
		bottom: 0;
		left: calc(50% - 30px);
		width: 60px;
		height: 3px;
		content: '';
		border-radius: 3px;
		background: $base;
		box-shadow: 0px 1px 3px #909090;
	}
}

//ボタン
.btn {
	width: 20%;
	height: 40px;
	line-height: 40px;
	border: 1px solid black;
	text-align: center;
	margin: 0 auto;
	box-shadow: 2px 2px 4px grey;
	transition: all .5s;
	//矢印
	a.arrow2{
		@include fontsize(18);
		text-decoration:none;
		color: black;
		display:inline-block;
		padding-right:70px;
		padding-left: 70px;
		position:relative;
	}
	a.arrow2:before, a.arrow2:after{
		content:"";
		display:block;
		-webkit-transform:skewX(45deg);
		transform:skewX(45deg);
		position:absolute;
		right:0;
		bottom:18px;
	}
	a.arrow2:before{
		width:20px;
		height:1px;
		background: black;
	}
	a.arrow2:after{
		width:1px;
		height:7px;
		background: black;
		right:3px;
	}
	&:hover {
		border: 1px solid $accent;
		background-color: $accent;
		a.arrow2{
			color: $bar;
		}
		a.arrow2:before, a.arrow2:after{
			background-color: $bar;
		}
	}
	@media screen and (max-width: 1023px) {
		a.arrow2{
			padding-right: 50px;
			padding-left: 50px;
		}
	}
	@media screen and (max-width: 767px) {
		width: 60%;
		a.arrow2{
			padding-right: 40%;
			padding-left: 40%;
		}
	}
	@media screen and (max-width: 424px) {
		width: 90%;
	}
}

.p_g_f {
	.btn {
		@media screen and (max-width: 1350px) {
			.arrow2 {
				padding-right: 30px;
				padding-left: 30px;
			}
		}
		@media screen and (max-width: 1043px) {
			.arrow2 {
				padding-right: 0px;
				padding-left: 0px;
				&::before, &::after {
					display: none;
				}
			}
		}
	}
}//.p_g_f

/* Animation
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

//フェードイン用CSS
.animation{
	opacity : 0;
	visibility: hidden;
	transition: 1s;
	transform: translateY(30px);
}

.active{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
