@charset "utf-8";

/* Mixins
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

@mixin fontsize($size: 24) {
    font-size: $size + px;
    font-size: ($size / 10) * 1rem;
} //@mixin fontsize

/* Fonts
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

//フォントの定義
@font-face {
  font-family: 'Hannari';
	src: url('../fonts/Hannari.woff2') format('woff2'),
	url('../fonts/Hannari.woff') format('woff');
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-VariableFont_wght.woff2') format('woff2'),
  url('../fonts/Quicksand-VariableFont_wght.woff') format('woff');
}

//フォントの呼び出し
.quicksand {
  font-family: 'Quicksand';
}

.hannari {
  font-family: 'Hannari';
}

.meiryo {
  font-family: "Meiryo", "メイリオ";
}

.meiryo_ui {
  font-family: "Meiryo UI";
}

/* Varisbles
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

$ja_font : 'Quicksand', YuMincho, 'Yu Mincho', "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Meiryo", "メイリオ", Verdana, serif;
$ja_font_p : 'Times New Roman', YuMincho, 'Yu Mincho', "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Meiryo", "メイリオ", Verdana, serif;
$background : #fffff8;
$accent : #2e39a9;
$base : #fdd35c;
$bar : #fef856;

/* Base
	–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
    box-sizing: border-box;
}

html {
	max-width: 1440px;
	margin: auto;
    font-size: 62.5%;
}

body {
	font-family: $ja_font;
	margin: 0;
	background-color: $background;
}

#header, #main, #footer, img {
    width: 100%;
}


/* Body
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
	//画像の上にグラデーションのせる
	// background: linear-gradient(-45deg, rgba(254, 248, 86, .8), rgba(200, 92, 14, .8)), url(../images/mastard_1.jpg);
	// background-size: cover;
	//チェック
	// background-color: #F2E2A9;
	// background-image:
	//  radial-gradient(#f1acb5 1px, transparent 1px);
	// background-size: 20px 20px;

	header {
		.h_top {
			display: flex;
			justify-content: space-between;
			background-color: $base;
			height: 330px;
			margin-bottom: -240px;
			.title {
				h1 {
					@include fontsize(34);
					font-weight: 100;
					margin: 0.67em 1.5em;
					color: $accent;
				}
			}
			.lang {
				p {
					@include fontsize(16);
					margin-right: 2em;
					margin-top: 1.5em;
					font-family: $ja_font_p;
					a {
						color: $accent;
						text-decoration: none;
						position: relative;
						&:before {
							position: absolute;
							bottom: 0em;
							left: calc(50% - 25px);
							width: 50px;
							height: 1px;
							content: '';
							border-radius: 3px;
							background: $accent;
							transform: scaleX(0);
							transition: all .3s;
						}
						&:hover {
							&:before {
								transform: scaleX(1);
							}
						}
					}
					span {}
				}
			}
		}//h_top
		.h_nav {
			.h_ul {
				display: flex;
				justify-content: space-between;
				margin: 1em 8em .5em 8em;
				padding-inline-start: 0px;
				height: 30px;
				li {
					@include fontsize(18);
					list-style: none;
					a {
						color: $accent;
						text-decoration: none;
						position: relative;
						&:before {
							position: absolute;
							top: -0.3em;
							left: calc(50% - 30px);
							width: 60px;
							height: 2px;
							content: '';
							border-radius: 3px;
							background: $accent;
							transition: all .3s;
						}
						&:hover {
							font-weight: 500;
							&:before {
								left: calc(50% - 40px);
								width: 80px;
							}
						}
					}
				}
			}
		}//h_nav
		.h_img {
			position: relative;
			width: 98%;
    		margin: 0 auto;
			img {}
			.page_title {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
				margin: auto;

				h2 {
					color: white;
					font-weight: 100;
					@include fontsize(38);
					padding: .5rem;
					&:before {
						background-color: $bar;
					}
				}
			}
		}
	}//header

	main {
		article {
			.message {
				h2 {
					padding: .5rem;
					margin-block-start: 2.2em;
					&::before {
						left: calc(50% - 60px);
						width: 120px;
					}
				}
				p {
					@include fontsize(16);
					text-align: center;
					line-height: 2.6em;
					margin: 2em 0;
					span {
						display: inline-block;
						@include fontsize(10);
						line-height: 2em;
					}
				}
			}//.message
			.home_news, .home_schedule {
				padding-top: 30px;
				padding-bottom: 100px;
				background-color: #ffffff;
				.h_n_area {
					margin: 0 auto;
    				width: fit-content;
					.h_n_ul {
						@include fontsize(16);
						text-align: left;
						margin: 2.6em 0;
						padding-inline-start: 0;
						li {
							list-style: none;
							span {
								font-family: $ja_font_p;
								margin-right: 20px;
								font-style: italic;
							}
							a {
								color: $accent;
								text-decoration: none;
								position: relative;
								&:before {
									position: absolute;
									bottom: 0em;
									left: 0;
									width: fill-available;
									height: 1px;
									content: '';
									border-radius: 3px;
									background: $accent;
									transform: scaleX(0);
									transform-origin: left top;
									transition: all .5s;
								}
								&:hover {
									&:before {
										transform: scaleX(1);
									}
								}
							}
						}
					}
				}
			}//.home_news,.home_schedule
			.home_schedule {
				background-color: inherit;
				.wrapper {
					position: relative;
					.blur {
						background-color: white;
						backdrop-filter: blur(12px);
						opacity: .7;
						z-index: 1;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translateY(-50%) translateX(-50%);
						margin: auto;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
					.text {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translateY(-50%) translateX(-50%);
						margin: auto;
						z-index: 1;
						@include fontsize(18);
						text-shadow: 0 1px 1px #909090;
					}
				}
			}//.home_schedule
			.research_now, .research_arc, .publication, .profile {
				.top_t {
					margin-top: 56px;
				}
				.r_area, .p_area {
					margin: 0 auto;
					margin-bottom: 12rem;
    				width: 85%;
					.r_ul, .p_ul {
						padding-left: 0;
						li {
							list-style: none;
							.h3_title {
								display: flex;
								justify-content: space-between;
								h3 {
									@include fontsize(23);
									border-left: solid 10px #2e39a9;
									font-weight: bold;
									padding-left: 10px;
									padding-top: 11px;
								}
								.modi_f_pu {
								padding-top: 7px;
    						padding-bottom: 4px;
								}
								.modi_f_pro {
									padding-top: 7px;
									padding-bottom: 4px;
									.modi_f_pro_p {
										@include fontsize(14);
										font-family: $ja_font_p;
										font-weight: 100;
										margin-left: 30px;
									}
								}
								.h3_top {
									margin-top:60px;
								}
								p {
									@include fontsize(22);
									font-family: $ja_font_p;
									color: #5f7c3c;
									margin: revert;
									span {
										margin-left: 35px;
									}
								}
							}
							p {
								@include fontsize(16);
								text-align: left;
								margin: 0 4rem;
    						margin-bottom: 4rem;
							}
							.p_titles {
								h4 {
									font-family: $ja_font_p;
									@include fontsize(16);
									font-weight: bold;
								}
								.p_titles_ol {
									.p_titles_li {
										list-style-type: decimal;
										font-family: $ja_font_p;
										@include fontsize(16);
										padding-bottom: 1.2rem;
										span {
											font-weight: bold;
										}
									}
									.pro_titles_li {
										font-family: $ja_font_p;
										@include fontsize(16);
										padding-bottom: 1.2rem;
										span {
											font-weight: bold;
										}
									}
									.pro_name_li {
										@include fontsize(18);
									}
								}
							}
						}
						.pro_li {
							display: flex;
							justify-content: space-between;
							.pro_img {
								width: 40%;
								margin-top: 60px;
								margin-bottom: 50px;
								img {
									border: solid $accent 4px;
									box-shadow: 1px 1px 3px #707070;
									max-width: 450px;
								}
							}
							.pro_name {
								width: 50%;
							}
						}
					}
				}
			}//.research_now, .research_arc, .publication
		}//article
	}//main

	footer {
		.f_wrapper {
			.links {
				display: flex;
				position: relative;
				border-top: solid 1px $base;
				border-bottom: solid 1px $base;
				.contacts {
					width: 35%;
					height: 150px;
					border-top: solid 1px $base;
					border-bottom: solid 1px $base;
					background-color: $background;
					margin: 4px 0;
					padding-top: 100px;
					padding-left: 20px;
					p {
						@include fontsize(16);
						padding-left: 10px;
						color: $accent;
						margin: .2em 0;
						i {
							padding-right: 5px;
						}
						&:first-child {
							padding-top: 10px;
						}
						&:last-child {
							padding-bottom: 10px;
						}
					}
					&:before {
						position: absolute;
						top: 0;
						left: 0;
						z-index: -1;
						content: '';
						background-color: $background;
						height: 100%;
						width: 100%;
					}
				}
				.sns {
					width: 65%;
					background-color: $base;
					border-top: solid 1px $accent;
					border-bottom: solid 1px $accent;
					margin: 4px 0;
					padding-right: 30px;
					text-align: right;
					a {
						@include fontsize(30);
						i {
							margin: 10px;
							color: $accent;
							transform-origin: left top;
							transition: all .5s;
							&:hover {
								color: $background;
								text-shadow: 0 1px 1px #909090;
							}
						}
					}
					&:before {
						position: absolute;
						top: 0;
						right: 0;
						z-index: -1;
						content: '';
						background-color: $base;
						height: 100%;
						width: 65%;
					}
				}
			}
			.copy {
				p {
					@include fontsize(14);
					color: $accent;
					text-align: center;
					margin: 0;
				}
			}
		}//.f_wrapper
	}//footer

}

//大見出し
.section_t {
	h2 {
		@include fontsize(30);
		font-family: $ja_font;
		position: relative;
		padding: 1.5rem;
		text-align: center;
		color: $accent;
		text-align: center;
		vertical-align: middle;
	}

	h2 span {
		@include fontsize(12);
		font-weight: 100;
		display: block;
		color: black;
	}

	h2:before {
		position: absolute;
		bottom: 0;
		left: calc(50% - 30px);
		width: 60px;
		height: 3px;
		content: '';
		border-radius: 3px;
		background: $base;
		box-shadow: 0px 1px 3px #909090;
	}
}

//ボタン
.btn {
	width: 20%;
	height: 40px;
	line-height: 40px;
	border: 1px solid black;
	text-align: center;
	margin: 0 auto;
	box-shadow: 2px 2px 4px grey;
	transition: all .5s;
	//矢印
	a.arrow2{
		@include fontsize(18);
		text-decoration:none;
		color: black;
		display:inline-block;
		padding-right:70px;
		padding-left: 70px;
		position:relative;
	}
	a.arrow2:before, a.arrow2:after{
		content:"";
		display:block;
		-webkit-transform:skewX(45deg);
		transform:skewX(45deg);
		position:absolute;
		right:0;
		bottom:18px;
	}
	a.arrow2:before{
		width:20px;
		height:1px;
		background: black;
	}
	a.arrow2:after{
		width:1px;
		height:7px;
		background: black;
		right:3px;
	}
	&:hover {
		border: 1px solid $accent;
		background-color: $accent;
		a.arrow2{
			color: $bar;
		}
		a.arrow2:before, a.arrow2:after{
			background-color: $bar;
		}
	}
	@media screen and (max-width: 1023px) {
		a.arrow2{
			padding-right: 50px;
			padding-left: 50px;
		}
	}
	@media screen and (max-width: 767px) {
		width: 60%;
		a.arrow2{
			padding-right: 40%;
			padding-left: 40%;
		}
	}
	@media screen and (max-width: 424px) {
		width: 90%;
	}
}

/* Animation
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

//フェードイン用CSS
.animation{
	opacity : 0;
	visibility: hidden;
	transition: 1s;
	transform: translateY(30px);
}

.active{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
