@charset "UTF-8";
/* Mixins
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Fonts
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
  font-family: 'Hannari';
  src: url("../fonts/Hannari.woff2") format("woff2"), url("../fonts/Hannari.woff") format("woff");
}

@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/Quicksand-VariableFont_wght.woff2") format("woff2"), url("../fonts/Quicksand-VariableFont_wght.woff") format("woff");
}

.quicksand {
  font-family: 'Quicksand';
}

.hannari {
  font-family: 'Hannari';
}

.meiryo {
  font-family: "Meiryo", "メイリオ";
}

.meiryo_ui {
  font-family: "Meiryo UI";
}

/* Varisbles
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Base
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  max-width: 1440px;
  margin: auto;
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", YuMincho, "Yu Mincho", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Meiryo", "メイリオ", Verdana, serif;
  margin: 0;
  background-color: #fffff8;
}

#header, #main, #footer, img {
  width: 100%;
}

/* Body
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
body header .h_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fdd35c;
  height: 330px;
  margin-bottom: -240px;
}

body header .h_top .title h1 {
  font-size: 34px;
  font-size: 3.4rem;
  font-weight: 100;
  margin: 0.67em 1.5em;
  color: #2e39a9;
}

body header .h_top .lang p {
  font-size: 16px;
  font-size: 1.6rem;
  margin-right: 2em;
  margin-top: 1.5em;
  font-family: "Times New Roman", YuMincho, "Yu Mincho", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Meiryo", "メイリオ", Verdana, serif;
}

body header .h_top .lang p a {
  color: #2e39a9;
  text-decoration: none;
  position: relative;
}

body header .h_top .lang p a:before {
  position: absolute;
  bottom: 0em;
  left: calc(50% - 25px);
  width: 50px;
  height: 1px;
  content: '';
  border-radius: 3px;
  background: #2e39a9;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .3s;
  transition: all .3s;
}

body header .h_top .lang p a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

body header .h_nav .h_ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1em 8em .5em 8em;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  height: 30px;
}

body header .h_nav .h_ul li {
  font-size: 18px;
  font-size: 1.8rem;
  list-style: none;
}

body header .h_nav .h_ul li a {
  color: #2e39a9;
  text-decoration: none;
  position: relative;
}

body header .h_nav .h_ul li a:before {
  position: absolute;
  top: -0.3em;
  left: calc(50% - 30px);
  width: 60px;
  height: 2px;
  content: '';
  border-radius: 3px;
  background: #2e39a9;
  -webkit-transition: all .3s;
  transition: all .3s;
}

body header .h_nav .h_ul li a:hover {
  font-weight: 500;
}

body header .h_nav .h_ul li a:hover:before {
  left: calc(50% - 40px);
  width: 80px;
}

body header .h_img {
  position: relative;
  width: 98%;
  margin: 0 auto;
}

body header .h_img .page_title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  margin: auto;
}

body header .h_img .page_title h2 {
  color: white;
  font-weight: 100;
  font-size: 38px;
  font-size: 3.8rem;
  padding: .5rem;
}

body header .h_img .page_title h2:before {
  background-color: #fef856;
}

body main article .message h2 {
  padding: .5rem;
  -webkit-margin-before: 2.2em;
          margin-block-start: 2.2em;
}

body main article .message h2::before {
  left: calc(50% - 60px);
  width: 120px;
}

body main article .message p {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 2.6em;
  margin: 2em 0;
}

body main article .message p span {
  display: inline-block;
  font-size: 10px;
  font-size: 1rem;
  line-height: 2em;
}

body main article .home_news, body main article .home_schedule {
  padding-top: 30px;
  padding-bottom: 100px;
  background-color: #ffffff;
}

body main article .home_news .h_n_area, body main article .home_schedule .h_n_area {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body main article .home_news .h_n_area .h_n_ul, body main article .home_schedule .h_n_area .h_n_ul {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: left;
  margin: 2.6em 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

body main article .home_news .h_n_area .h_n_ul li, body main article .home_schedule .h_n_area .h_n_ul li {
  list-style: none;
}

body main article .home_news .h_n_area .h_n_ul li span, body main article .home_schedule .h_n_area .h_n_ul li span {
  font-family: "Times New Roman", YuMincho, "Yu Mincho", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Meiryo", "メイリオ", Verdana, serif;
  margin-right: 20px;
  font-style: italic;
}

body main article .home_news .h_n_area .h_n_ul li a, body main article .home_schedule .h_n_area .h_n_ul li a {
  color: #2e39a9;
  text-decoration: none;
  position: relative;
}

body main article .home_news .h_n_area .h_n_ul li a:before, body main article .home_schedule .h_n_area .h_n_ul li a:before {
  position: absolute;
  bottom: 0em;
  left: 0;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  height: 1px;
  content: '';
  border-radius: 3px;
  background: #2e39a9;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: all .5s;
  transition: all .5s;
}

body main article .home_news .h_n_area .h_n_ul li a:hover:before, body main article .home_schedule .h_n_area .h_n_ul li a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

body main article .home_schedule {
  background-color: inherit;
}

body main article .home_schedule .wrapper {
  position: relative;
}

body main article .home_schedule .wrapper .blur {
  background-color: white;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  opacity: .7;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  margin: auto;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body main article .home_schedule .wrapper .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  margin: auto;
  z-index: 1;
  font-size: 18px;
  font-size: 1.8rem;
  text-shadow: 0 1px 1px #909090;
}

body main article .research_now .top_t, body main article .research_arc .top_t, body main article .publication .top_t, body main article .profile .top_t {
  margin-top: 56px;
}

body main article .research_now .r_area, body main article .research_now .p_area, body main article .research_arc .r_area, body main article .research_arc .p_area, body main article .publication .r_area, body main article .publication .p_area, body main article .profile .r_area, body main article .profile .p_area {
  margin: 0 auto;
  margin-bottom: 12rem;
  width: 85%;
}

body main article .research_now .r_area .r_ul, body main article .research_now .r_area .p_ul, body main article .research_now .p_area .r_ul, body main article .research_now .p_area .p_ul, body main article .research_arc .r_area .r_ul, body main article .research_arc .r_area .p_ul, body main article .research_arc .p_area .r_ul, body main article .research_arc .p_area .p_ul, body main article .publication .r_area .r_ul, body main article .publication .r_area .p_ul, body main article .publication .p_area .r_ul, body main article .publication .p_area .p_ul, body main article .profile .r_area .r_ul, body main article .profile .r_area .p_ul, body main article .profile .p_area .r_ul, body main article .profile .p_area .p_ul {
  padding-left: 0;
}

body main article .research_now .r_area .r_ul li, body main article .research_now .r_area .p_ul li, body main article .research_now .p_area .r_ul li, body main article .research_now .p_area .p_ul li, body main article .research_arc .r_area .r_ul li, body main article .research_arc .r_area .p_ul li, body main article .research_arc .p_area .r_ul li, body main article .research_arc .p_area .p_ul li, body main article .publication .r_area .r_ul li, body main article .publication .r_area .p_ul li, body main article .publication .p_area .r_ul li, body main article .publication .p_area .p_ul li, body main article .profile .r_area .r_ul li, body main article .profile .r_area .p_ul li, body main article .profile .p_area .r_ul li, body main article .profile .p_area .p_ul li {
  list-style: none;
}

body main article .research_now .r_area .r_ul li .h3_title, body main article .research_now .r_area .p_ul li .h3_title, body main article .research_now .p_area .r_ul li .h3_title, body main article .research_now .p_area .p_ul li .h3_title, body main article .research_arc .r_area .r_ul li .h3_title, body main article .research_arc .r_area .p_ul li .h3_title, body main article .research_arc .p_area .r_ul li .h3_title, body main article .research_arc .p_area .p_ul li .h3_title, body main article .publication .r_area .r_ul li .h3_title, body main article .publication .r_area .p_ul li .h3_title, body main article .publication .p_area .r_ul li .h3_title, body main article .publication .p_area .p_ul li .h3_title, body main article .profile .r_area .r_ul li .h3_title, body main article .profile .r_area .p_ul li .h3_title, body main article .profile .p_area .r_ul li .h3_title, body main article .profile .p_area .p_ul li .h3_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main article .research_now .r_area .r_ul li .h3_title h3, body main article .research_now .r_area .p_ul li .h3_title h3, body main article .research_now .p_area .r_ul li .h3_title h3, body main article .research_now .p_area .p_ul li .h3_title h3, body main article .research_arc .r_area .r_ul li .h3_title h3, body main article .research_arc .r_area .p_ul li .h3_title h3, body main article .research_arc .p_area .r_ul li .h3_title h3, body main article .research_arc .p_area .p_ul li .h3_title h3, body main article .publication .r_area .r_ul li .h3_title h3, body main article .publication .r_area .p_ul li .h3_title h3, body main article .publication .p_area .r_ul li .h3_title h3, body main article .publication .p_area .p_ul li .h3_title h3, body main article .profile .r_area .r_ul li .h3_title h3, body main article .profile .r_area .p_ul li .h3_title h3, body main article .profile .p_area .r_ul li .h3_title h3, body main article .profile .p_area .p_ul li .h3_title h3 {
  font-size: 23px;
  font-size: 2.3rem;
  border-left: solid 10px #2e39a9;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 11px;
}

body main article .research_now .r_area .r_ul li .h3_title .modi_f_pu, body main article .research_now .r_area .p_ul li .h3_title .modi_f_pu, body main article .research_now .p_area .r_ul li .h3_title .modi_f_pu, body main article .research_now .p_area .p_ul li .h3_title .modi_f_pu, body main article .research_arc .r_area .r_ul li .h3_title .modi_f_pu, body main article .research_arc .r_area .p_ul li .h3_title .modi_f_pu, body main article .research_arc .p_area .r_ul li .h3_title .modi_f_pu, body main article .research_arc .p_area .p_ul li .h3_title .modi_f_pu, body main article .publication .r_area .r_ul li .h3_title .modi_f_pu, body main article .publication .r_area .p_ul li .h3_title .modi_f_pu, body main article .publication .p_area .r_ul li .h3_title .modi_f_pu, body main article .publication .p_area .p_ul li .h3_title .modi_f_pu, body main article .profile .r_area .r_ul li .h3_title .modi_f_pu, body main article .profile .r_area .p_ul li .h3_title .modi_f_pu, body main article .profile .p_area .r_ul li .h3_title .modi_f_pu, body main article .profile .p_area .p_ul li .h3_title .modi_f_pu {
  padding-top: 7px;
  padding-bottom: 4px;
}

body main article .research_now .r_area .r_ul li .h3_title .modi_f_pro, body main article .research_now .r_area .p_ul li .h3_title .modi_f_pro, body main article .research_now .p_area .r_ul li .h3_title .modi_f_pro, body main article .research_now .p_area .p_ul li .h3_title .modi_f_pro, body main article .research_arc .r_area .r_ul li .h3_title .modi_f_pro, body main article .research_arc .r_area .p_ul li .h3_title .modi_f_pro, body main article .research_arc .p_area .r_ul li .h3_title .modi_f_pro, body main article .research_arc .p_area .p_ul li .h3_title .modi_f_pro, body main article .publication .r_area .r_ul li .h3_title .modi_f_pro, body main article .publication .r_area .p_ul li .h3_title .modi_f_pro, body main article .publication .p_area .r_ul li .h3_title .modi_f_pro, body main article .publication .p_area .p_ul li .h3_title .modi_f_pro, body main article .profile .r_area .r_ul li .h3_title .modi_f_pro, body main article .profile .r_area .p_ul li .h3_title .modi_f_pro, body main article .profile .p_area .r_ul li .h3_title .modi_f_pro, body main article .profile .p_area .p_ul li .h3_title .modi_f_pro {
  padding-top: 7px;
  padding-bottom: 4px;
}

body main article .research_now .r_area .r_ul li .h3_title .modi_f_pro .modi_f_pro_p, body main article .research_now .r_area .p_ul li .h3_title .modi_f_pro .modi_f_pro_p, body main article .research_now .p_area .r_ul li .h3_title .modi_f_pro .modi_f_pro_p, body main article .research_now .p_area .p_ul li .h3_title .modi_f_pro .modi_f_pro_p, body main article .research_arc .r_area .r_ul li .h3_title .modi_f_pro .modi_f_pro_p, body main article .research_arc .r_area .p_ul li .h3_title .modi_f_pro .modi_f_pro_p, body main article .research_arc .p_area .r_ul li .h3_title .modi_f_pro .modi_f_pro_p, body main article .research_arc .p_area .p_ul li .h3_title .modi_f_pro .modi_f_pro_p, body main article .publication .r_area .r_ul li .h3_title .modi_f_pro .modi_f_pro_p, body main article .publication .r_area .p_ul li .h3_title .modi_f_pro .modi_f_pro_p, body main article .publication .p_area .r_ul li .h3_title .modi_f_pro .modi_f_pro_p, body main article .publication .p_area .p_ul li .h3_title .modi_f_pro .modi_f_pro_p, body main article .profile .r_area .r_ul li .h3_title .modi_f_pro .modi_f_pro_p, body main article .profile .r_area .p_ul li .h3_title .modi_f_pro .modi_f_pro_p, body main article .profile .p_area .r_ul li .h3_title .modi_f_pro .modi_f_pro_p, body main article .profile .p_area .p_ul li .h3_title .modi_f_pro .modi_f_pro_p {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Times New Roman", YuMincho, "Yu Mincho", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Meiryo", "メイリオ", Verdana, serif;
  font-weight: 100;
  margin-left: 30px;
}

body main article .research_now .r_area .r_ul li .h3_title .h3_top, body main article .research_now .r_area .p_ul li .h3_title .h3_top, body main article .research_now .p_area .r_ul li .h3_title .h3_top, body main article .research_now .p_area .p_ul li .h3_title .h3_top, body main article .research_arc .r_area .r_ul li .h3_title .h3_top, body main article .research_arc .r_area .p_ul li .h3_title .h3_top, body main article .research_arc .p_area .r_ul li .h3_title .h3_top, body main article .research_arc .p_area .p_ul li .h3_title .h3_top, body main article .publication .r_area .r_ul li .h3_title .h3_top, body main article .publication .r_area .p_ul li .h3_title .h3_top, body main article .publication .p_area .r_ul li .h3_title .h3_top, body main article .publication .p_area .p_ul li .h3_title .h3_top, body main article .profile .r_area .r_ul li .h3_title .h3_top, body main article .profile .r_area .p_ul li .h3_title .h3_top, body main article .profile .p_area .r_ul li .h3_title .h3_top, body main article .profile .p_area .p_ul li .h3_title .h3_top {
  margin-top: 60px;
}

body main article .research_now .r_area .r_ul li .h3_title p, body main article .research_now .r_area .p_ul li .h3_title p, body main article .research_now .p_area .r_ul li .h3_title p, body main article .research_now .p_area .p_ul li .h3_title p, body main article .research_arc .r_area .r_ul li .h3_title p, body main article .research_arc .r_area .p_ul li .h3_title p, body main article .research_arc .p_area .r_ul li .h3_title p, body main article .research_arc .p_area .p_ul li .h3_title p, body main article .publication .r_area .r_ul li .h3_title p, body main article .publication .r_area .p_ul li .h3_title p, body main article .publication .p_area .r_ul li .h3_title p, body main article .publication .p_area .p_ul li .h3_title p, body main article .profile .r_area .r_ul li .h3_title p, body main article .profile .r_area .p_ul li .h3_title p, body main article .profile .p_area .r_ul li .h3_title p, body main article .profile .p_area .p_ul li .h3_title p {
  font-size: 22px;
  font-size: 2.2rem;
  font-family: "Times New Roman", YuMincho, "Yu Mincho", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Meiryo", "メイリオ", Verdana, serif;
  color: #5f7c3c;
  margin: revert;
}

body main article .research_now .r_area .r_ul li .h3_title p span, body main article .research_now .r_area .p_ul li .h3_title p span, body main article .research_now .p_area .r_ul li .h3_title p span, body main article .research_now .p_area .p_ul li .h3_title p span, body main article .research_arc .r_area .r_ul li .h3_title p span, body main article .research_arc .r_area .p_ul li .h3_title p span, body main article .research_arc .p_area .r_ul li .h3_title p span, body main article .research_arc .p_area .p_ul li .h3_title p span, body main article .publication .r_area .r_ul li .h3_title p span, body main article .publication .r_area .p_ul li .h3_title p span, body main article .publication .p_area .r_ul li .h3_title p span, body main article .publication .p_area .p_ul li .h3_title p span, body main article .profile .r_area .r_ul li .h3_title p span, body main article .profile .r_area .p_ul li .h3_title p span, body main article .profile .p_area .r_ul li .h3_title p span, body main article .profile .p_area .p_ul li .h3_title p span {
  margin-left: 35px;
}

body main article .research_now .r_area .r_ul li p, body main article .research_now .r_area .p_ul li p, body main article .research_now .p_area .r_ul li p, body main article .research_now .p_area .p_ul li p, body main article .research_arc .r_area .r_ul li p, body main article .research_arc .r_area .p_ul li p, body main article .research_arc .p_area .r_ul li p, body main article .research_arc .p_area .p_ul li p, body main article .publication .r_area .r_ul li p, body main article .publication .r_area .p_ul li p, body main article .publication .p_area .r_ul li p, body main article .publication .p_area .p_ul li p, body main article .profile .r_area .r_ul li p, body main article .profile .r_area .p_ul li p, body main article .profile .p_area .r_ul li p, body main article .profile .p_area .p_ul li p {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: left;
  margin: 0 4rem;
  margin-bottom: 4rem;
}

body main article .research_now .r_area .r_ul li .p_titles h4, body main article .research_now .r_area .p_ul li .p_titles h4, body main article .research_now .p_area .r_ul li .p_titles h4, body main article .research_now .p_area .p_ul li .p_titles h4, body main article .research_arc .r_area .r_ul li .p_titles h4, body main article .research_arc .r_area .p_ul li .p_titles h4, body main article .research_arc .p_area .r_ul li .p_titles h4, body main article .research_arc .p_area .p_ul li .p_titles h4, body main article .publication .r_area .r_ul li .p_titles h4, body main article .publication .r_area .p_ul li .p_titles h4, body main article .publication .p_area .r_ul li .p_titles h4, body main article .publication .p_area .p_ul li .p_titles h4, body main article .profile .r_area .r_ul li .p_titles h4, body main article .profile .r_area .p_ul li .p_titles h4, body main article .profile .p_area .r_ul li .p_titles h4, body main article .profile .p_area .p_ul li .p_titles h4 {
  font-family: "Times New Roman", YuMincho, "Yu Mincho", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Meiryo", "メイリオ", Verdana, serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
}

body main article .research_now .r_area .r_ul li .p_titles .p_titles_ol .p_titles_li, body main article .research_now .r_area .p_ul li .p_titles .p_titles_ol .p_titles_li, body main article .research_now .p_area .r_ul li .p_titles .p_titles_ol .p_titles_li, body main article .research_now .p_area .p_ul li .p_titles .p_titles_ol .p_titles_li, body main article .research_arc .r_area .r_ul li .p_titles .p_titles_ol .p_titles_li, body main article .research_arc .r_area .p_ul li .p_titles .p_titles_ol .p_titles_li, body main article .research_arc .p_area .r_ul li .p_titles .p_titles_ol .p_titles_li, body main article .research_arc .p_area .p_ul li .p_titles .p_titles_ol .p_titles_li, body main article .publication .r_area .r_ul li .p_titles .p_titles_ol .p_titles_li, body main article .publication .r_area .p_ul li .p_titles .p_titles_ol .p_titles_li, body main article .publication .p_area .r_ul li .p_titles .p_titles_ol .p_titles_li, body main article .publication .p_area .p_ul li .p_titles .p_titles_ol .p_titles_li, body main article .profile .r_area .r_ul li .p_titles .p_titles_ol .p_titles_li, body main article .profile .r_area .p_ul li .p_titles .p_titles_ol .p_titles_li, body main article .profile .p_area .r_ul li .p_titles .p_titles_ol .p_titles_li, body main article .profile .p_area .p_ul li .p_titles .p_titles_ol .p_titles_li {
  list-style-type: decimal;
  font-family: "Times New Roman", YuMincho, "Yu Mincho", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Meiryo", "メイリオ", Verdana, serif;
  font-size: 16px;
  font-size: 1.6rem;
  padding-bottom: 1.2rem;
}

body main article .research_now .r_area .r_ul li .p_titles .p_titles_ol .p_titles_li span, body main article .research_now .r_area .p_ul li .p_titles .p_titles_ol .p_titles_li span, body main article .research_now .p_area .r_ul li .p_titles .p_titles_ol .p_titles_li span, body main article .research_now .p_area .p_ul li .p_titles .p_titles_ol .p_titles_li span, body main article .research_arc .r_area .r_ul li .p_titles .p_titles_ol .p_titles_li span, body main article .research_arc .r_area .p_ul li .p_titles .p_titles_ol .p_titles_li span, body main article .research_arc .p_area .r_ul li .p_titles .p_titles_ol .p_titles_li span, body main article .research_arc .p_area .p_ul li .p_titles .p_titles_ol .p_titles_li span, body main article .publication .r_area .r_ul li .p_titles .p_titles_ol .p_titles_li span, body main article .publication .r_area .p_ul li .p_titles .p_titles_ol .p_titles_li span, body main article .publication .p_area .r_ul li .p_titles .p_titles_ol .p_titles_li span, body main article .publication .p_area .p_ul li .p_titles .p_titles_ol .p_titles_li span, body main article .profile .r_area .r_ul li .p_titles .p_titles_ol .p_titles_li span, body main article .profile .r_area .p_ul li .p_titles .p_titles_ol .p_titles_li span, body main article .profile .p_area .r_ul li .p_titles .p_titles_ol .p_titles_li span, body main article .profile .p_area .p_ul li .p_titles .p_titles_ol .p_titles_li span {
  font-weight: bold;
}

body main article .research_now .r_area .r_ul li .p_titles .p_titles_ol .pro_titles_li, body main article .research_now .r_area .p_ul li .p_titles .p_titles_ol .pro_titles_li, body main article .research_now .p_area .r_ul li .p_titles .p_titles_ol .pro_titles_li, body main article .research_now .p_area .p_ul li .p_titles .p_titles_ol .pro_titles_li, body main article .research_arc .r_area .r_ul li .p_titles .p_titles_ol .pro_titles_li, body main article .research_arc .r_area .p_ul li .p_titles .p_titles_ol .pro_titles_li, body main article .research_arc .p_area .r_ul li .p_titles .p_titles_ol .pro_titles_li, body main article .research_arc .p_area .p_ul li .p_titles .p_titles_ol .pro_titles_li, body main article .publication .r_area .r_ul li .p_titles .p_titles_ol .pro_titles_li, body main article .publication .r_area .p_ul li .p_titles .p_titles_ol .pro_titles_li, body main article .publication .p_area .r_ul li .p_titles .p_titles_ol .pro_titles_li, body main article .publication .p_area .p_ul li .p_titles .p_titles_ol .pro_titles_li, body main article .profile .r_area .r_ul li .p_titles .p_titles_ol .pro_titles_li, body main article .profile .r_area .p_ul li .p_titles .p_titles_ol .pro_titles_li, body main article .profile .p_area .r_ul li .p_titles .p_titles_ol .pro_titles_li, body main article .profile .p_area .p_ul li .p_titles .p_titles_ol .pro_titles_li {
  font-family: "Times New Roman", YuMincho, "Yu Mincho", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Meiryo", "メイリオ", Verdana, serif;
  font-size: 16px;
  font-size: 1.6rem;
  padding-bottom: 1.2rem;
}

body main article .research_now .r_area .r_ul li .p_titles .p_titles_ol .pro_titles_li span, body main article .research_now .r_area .p_ul li .p_titles .p_titles_ol .pro_titles_li span, body main article .research_now .p_area .r_ul li .p_titles .p_titles_ol .pro_titles_li span, body main article .research_now .p_area .p_ul li .p_titles .p_titles_ol .pro_titles_li span, body main article .research_arc .r_area .r_ul li .p_titles .p_titles_ol .pro_titles_li span, body main article .research_arc .r_area .p_ul li .p_titles .p_titles_ol .pro_titles_li span, body main article .research_arc .p_area .r_ul li .p_titles .p_titles_ol .pro_titles_li span, body main article .research_arc .p_area .p_ul li .p_titles .p_titles_ol .pro_titles_li span, body main article .publication .r_area .r_ul li .p_titles .p_titles_ol .pro_titles_li span, body main article .publication .r_area .p_ul li .p_titles .p_titles_ol .pro_titles_li span, body main article .publication .p_area .r_ul li .p_titles .p_titles_ol .pro_titles_li span, body main article .publication .p_area .p_ul li .p_titles .p_titles_ol .pro_titles_li span, body main article .profile .r_area .r_ul li .p_titles .p_titles_ol .pro_titles_li span, body main article .profile .r_area .p_ul li .p_titles .p_titles_ol .pro_titles_li span, body main article .profile .p_area .r_ul li .p_titles .p_titles_ol .pro_titles_li span, body main article .profile .p_area .p_ul li .p_titles .p_titles_ol .pro_titles_li span {
  font-weight: bold;
}

body main article .research_now .r_area .r_ul li .p_titles .p_titles_ol .pro_name_li, body main article .research_now .r_area .p_ul li .p_titles .p_titles_ol .pro_name_li, body main article .research_now .p_area .r_ul li .p_titles .p_titles_ol .pro_name_li, body main article .research_now .p_area .p_ul li .p_titles .p_titles_ol .pro_name_li, body main article .research_arc .r_area .r_ul li .p_titles .p_titles_ol .pro_name_li, body main article .research_arc .r_area .p_ul li .p_titles .p_titles_ol .pro_name_li, body main article .research_arc .p_area .r_ul li .p_titles .p_titles_ol .pro_name_li, body main article .research_arc .p_area .p_ul li .p_titles .p_titles_ol .pro_name_li, body main article .publication .r_area .r_ul li .p_titles .p_titles_ol .pro_name_li, body main article .publication .r_area .p_ul li .p_titles .p_titles_ol .pro_name_li, body main article .publication .p_area .r_ul li .p_titles .p_titles_ol .pro_name_li, body main article .publication .p_area .p_ul li .p_titles .p_titles_ol .pro_name_li, body main article .profile .r_area .r_ul li .p_titles .p_titles_ol .pro_name_li, body main article .profile .r_area .p_ul li .p_titles .p_titles_ol .pro_name_li, body main article .profile .p_area .r_ul li .p_titles .p_titles_ol .pro_name_li, body main article .profile .p_area .p_ul li .p_titles .p_titles_ol .pro_name_li {
  font-size: 18px;
  font-size: 1.8rem;
}

body main article .research_now .r_area .r_ul .pro_li, body main article .research_now .r_area .p_ul .pro_li, body main article .research_now .p_area .r_ul .pro_li, body main article .research_now .p_area .p_ul .pro_li, body main article .research_arc .r_area .r_ul .pro_li, body main article .research_arc .r_area .p_ul .pro_li, body main article .research_arc .p_area .r_ul .pro_li, body main article .research_arc .p_area .p_ul .pro_li, body main article .publication .r_area .r_ul .pro_li, body main article .publication .r_area .p_ul .pro_li, body main article .publication .p_area .r_ul .pro_li, body main article .publication .p_area .p_ul .pro_li, body main article .profile .r_area .r_ul .pro_li, body main article .profile .r_area .p_ul .pro_li, body main article .profile .p_area .r_ul .pro_li, body main article .profile .p_area .p_ul .pro_li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main article .research_now .r_area .r_ul .pro_li .pro_img, body main article .research_now .r_area .p_ul .pro_li .pro_img, body main article .research_now .p_area .r_ul .pro_li .pro_img, body main article .research_now .p_area .p_ul .pro_li .pro_img, body main article .research_arc .r_area .r_ul .pro_li .pro_img, body main article .research_arc .r_area .p_ul .pro_li .pro_img, body main article .research_arc .p_area .r_ul .pro_li .pro_img, body main article .research_arc .p_area .p_ul .pro_li .pro_img, body main article .publication .r_area .r_ul .pro_li .pro_img, body main article .publication .r_area .p_ul .pro_li .pro_img, body main article .publication .p_area .r_ul .pro_li .pro_img, body main article .publication .p_area .p_ul .pro_li .pro_img, body main article .profile .r_area .r_ul .pro_li .pro_img, body main article .profile .r_area .p_ul .pro_li .pro_img, body main article .profile .p_area .r_ul .pro_li .pro_img, body main article .profile .p_area .p_ul .pro_li .pro_img {
  width: 40%;
  margin-top: 60px;
  margin-bottom: 50px;
}

body main article .research_now .r_area .r_ul .pro_li .pro_img img, body main article .research_now .r_area .p_ul .pro_li .pro_img img, body main article .research_now .p_area .r_ul .pro_li .pro_img img, body main article .research_now .p_area .p_ul .pro_li .pro_img img, body main article .research_arc .r_area .r_ul .pro_li .pro_img img, body main article .research_arc .r_area .p_ul .pro_li .pro_img img, body main article .research_arc .p_area .r_ul .pro_li .pro_img img, body main article .research_arc .p_area .p_ul .pro_li .pro_img img, body main article .publication .r_area .r_ul .pro_li .pro_img img, body main article .publication .r_area .p_ul .pro_li .pro_img img, body main article .publication .p_area .r_ul .pro_li .pro_img img, body main article .publication .p_area .p_ul .pro_li .pro_img img, body main article .profile .r_area .r_ul .pro_li .pro_img img, body main article .profile .r_area .p_ul .pro_li .pro_img img, body main article .profile .p_area .r_ul .pro_li .pro_img img, body main article .profile .p_area .p_ul .pro_li .pro_img img {
  border: solid #2e39a9 4px;
  -webkit-box-shadow: 1px 1px 3px #707070;
          box-shadow: 1px 1px 3px #707070;
  max-width: 450px;
}

body main article .research_now .r_area .r_ul .pro_li .pro_name, body main article .research_now .r_area .p_ul .pro_li .pro_name, body main article .research_now .p_area .r_ul .pro_li .pro_name, body main article .research_now .p_area .p_ul .pro_li .pro_name, body main article .research_arc .r_area .r_ul .pro_li .pro_name, body main article .research_arc .r_area .p_ul .pro_li .pro_name, body main article .research_arc .p_area .r_ul .pro_li .pro_name, body main article .research_arc .p_area .p_ul .pro_li .pro_name, body main article .publication .r_area .r_ul .pro_li .pro_name, body main article .publication .r_area .p_ul .pro_li .pro_name, body main article .publication .p_area .r_ul .pro_li .pro_name, body main article .publication .p_area .p_ul .pro_li .pro_name, body main article .profile .r_area .r_ul .pro_li .pro_name, body main article .profile .r_area .p_ul .pro_li .pro_name, body main article .profile .p_area .r_ul .pro_li .pro_name, body main article .profile .p_area .p_ul .pro_li .pro_name {
  width: 50%;
}

body footer .f_wrapper .links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-top: solid 1px #fdd35c;
  border-bottom: solid 1px #fdd35c;
}

body footer .f_wrapper .links .contacts {
  width: 35%;
  height: 150px;
  border-top: solid 1px #fdd35c;
  border-bottom: solid 1px #fdd35c;
  background-color: #fffff8;
  margin: 4px 0;
  padding-top: 100px;
  padding-left: 20px;
}

body footer .f_wrapper .links .contacts p {
  font-size: 16px;
  font-size: 1.6rem;
  padding-left: 10px;
  color: #2e39a9;
  margin: .2em 0;
}

body footer .f_wrapper .links .contacts p i {
  padding-right: 5px;
}

body footer .f_wrapper .links .contacts p:first-child {
  padding-top: 10px;
}

body footer .f_wrapper .links .contacts p:last-child {
  padding-bottom: 10px;
}

body footer .f_wrapper .links .contacts:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  background-color: #fffff8;
  height: 100%;
  width: 100%;
}

body footer .f_wrapper .links .sns {
  width: 65%;
  background-color: #fdd35c;
  border-top: solid 1px #2e39a9;
  border-bottom: solid 1px #2e39a9;
  margin: 4px 0;
  padding-right: 30px;
  text-align: right;
}

body footer .f_wrapper .links .sns a {
  font-size: 30px;
  font-size: 3rem;
}

body footer .f_wrapper .links .sns a i {
  margin: 10px;
  color: #2e39a9;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: all .5s;
  transition: all .5s;
}

body footer .f_wrapper .links .sns a i:hover {
  color: #fffff8;
  text-shadow: 0 1px 1px #909090;
}

body footer .f_wrapper .links .sns:before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  content: '';
  background-color: #fdd35c;
  height: 100%;
  width: 65%;
}

body footer .f_wrapper .copy p {
  font-size: 14px;
  font-size: 1.4rem;
  color: #2e39a9;
  text-align: center;
  margin: 0;
}

.section_t h2 {
  font-size: 30px;
  font-size: 3rem;
  font-family: "Quicksand", YuMincho, "Yu Mincho", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Meiryo", "メイリオ", Verdana, serif;
  position: relative;
  padding: 1.5rem;
  text-align: center;
  color: #2e39a9;
  text-align: center;
  vertical-align: middle;
}

.section_t h2 span {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 100;
  display: block;
  color: black;
}

.section_t h2:before {
  position: absolute;
  bottom: 0;
  left: calc(50% - 30px);
  width: 60px;
  height: 3px;
  content: '';
  border-radius: 3px;
  background: #fdd35c;
  -webkit-box-shadow: 0px 1px 3px #909090;
          box-shadow: 0px 1px 3px #909090;
}

.btn {
  width: 20%;
  height: 40px;
  line-height: 40px;
  border: 1px solid black;
  text-align: center;
  margin: 0 auto;
  -webkit-box-shadow: 2px 2px 4px grey;
          box-shadow: 2px 2px 4px grey;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn a.arrow2 {
  font-size: 18px;
  font-size: 1.8rem;
  text-decoration: none;
  color: black;
  display: inline-block;
  padding-right: 70px;
  padding-left: 70px;
  position: relative;
}

.btn a.arrow2:before, .btn a.arrow2:after {
  content: "";
  display: block;
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
  position: absolute;
  right: 0;
  bottom: 18px;
}

.btn a.arrow2:before {
  width: 20px;
  height: 1px;
  background: black;
}

.btn a.arrow2:after {
  width: 1px;
  height: 7px;
  background: black;
  right: 3px;
}

.btn:hover {
  border: 1px solid #2e39a9;
  background-color: #2e39a9;
}

.btn:hover a.arrow2 {
  color: #fef856;
}

.btn:hover a.arrow2:before, .btn:hover a.arrow2:after {
  background-color: #fef856;
}

@media screen and (max-width: 1023px) {
  .btn a.arrow2 {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media screen and (max-width: 767px) {
  .btn {
    width: 60%;
  }
  .btn a.arrow2 {
    padding-right: 40%;
    padding-left: 40%;
  }
}

@media screen and (max-width: 424px) {
  .btn {
    width: 90%;
  }
}

/* Animation
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
.animation {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*# sourceMappingURL=style.css.map */